
.card-box {
  background: #1a1f2b; 
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.6);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  border: 1px solid rgba(0, 153, 255, 0.2);
}


.card-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 25px rgba(0, 180, 255, 0.4);
}


.card-box img {
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 15px;
}


.card-box h2 {
  font-size: 1.3rem;
  color: #00b4ff;  
  margin-bottom: 8px;
}

.card-box h4 {
  font-size: 1.1rem;
  color: #000000;
  font-weight: bold;
  margin-bottom: 12px;
}


.card-box p {
  font-size: 0.95rem;
  color: #d1d5db;  
  margin-bottom: 10px;
  line-height: 1.5;
}


.card-box button {
  background: linear-gradient(45deg, #00b4ff, #0066ff);
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease, transform 0.2s ease;
}

.card-box button:hover {
  background: linear-gradient(45deg, #33ccff, #0099ff);
  transform: scale(1.05);
}

.hit{
    background-color: gold;
    padding: 3px 10px;
    border-radius: 50px;
}
.su-hit{
    background-color: green;
    padding: 3px 10px;
    border-radius: 50px;
}
.ave{
    background-color: red;
    padding: 3px 10px;
    border-radius: 50px;
}