.contact-container {
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #0600235e;
    border-radius: 20px;
}


.contact-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
    color: #9df0ff;
}


.contact-subtitle {
    text-align: center;
    margin-bottom: 30px;
    color: #fcfcfc;
}


.contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}


.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}


.contact-form button {
    background-color: #0051a8;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
}


.contact-form button:hover {
    background-color: #0056b3;
}


.contact-info h3 {
    margin-bottom: 10px;
    color: #008097;
}


.contact-info p {
    margin: 5px 0;
    color: #ffffff;
}


/* Responsive */
@media (max-width: 768px) {
    .contact-content {
        grid-template-columns: 1fr;
    }
}