/* In your global CSS or layout CSS */
body,
html {
    height: 100%;
    margin: 0;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;

    background-color: #001952;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
}